<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-red navbar-dark">
        <div class="wrapper">
          
        </div>
  <div class="container-fluid all-show">
    <a class="navbar-brand" href="/"><img src="/static/images/logo.png" style="width: 90px; height: 100px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">HAKKIMIZDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">İÇERİKLER</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">EKİBE KATILIN</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/iusmeta/">İLETİŞİM</a>
        </li>

        
        
      </ul>
      <div class="d-flex sim">
        <li><a href="https://www.linkedin.com/company/iusmeta/" target="_blank" class="fa fa-linkedin"></a></li>
        <li><a href="https://twitter.com/iusmeta?s=21&t=JkKlF8siA1MhYJiZCCbrAg" target="_blank" class="fa fa-twitter"></a></li>
        <li><a href="https://www.instagram.com/iusmeta/" target="_blank" class="fa fa-instagram"></a></li>
       
        <li><a href="https://www.facebook.com/profile.php?id=100087545583324&mibextid=LQQJ4d" target="_blank" class="fa fa-facebook"></a></li>
      </div>
    </div>
  </div>
</nav>
</body>
</html>