{% extends "layout.html"%}

{% block head %} 
    <title>Hakkımızda</title>

    
{% endblock head %}

{%block body %}

<div class="aboutus">
    
        <p class="heading-small line-height-med text-center">Ius Meta, bilişim ve bilişim hukuku alanında gelişmeleri derleyip en faydalı olacak şekilde</p>
            <p class="heading-small line-height-med text-center">sizlere sunmak amacıyla 2022 yılının Kasım
            ayında <i>Eray Ersan</i>  ve <i>İsmet Akbulut</i> tarafından kurulmuştur. </p>
    
   
</div>

<div id="team">
    <h1 class="text-center team-title">ㅤㅤㅤㅤEKİBİMİZㅤㅤㅤㅤ</h1>
    <div class="members">
        <div class="wow member co-founder">
            <div class="member-photo" style="background-image: url(/static/images/ismet.png); background-size:cover; background-position-y: 29%;"></div>
            <div class="member-info">
                <ul>
                    <li>İsmet Akbulut</li>
                    <li>/</li>
                    <li>Kurucu Ortak</li>
                    <li><a href="https://www.linkedin.com/in/eray-ersan-840048223/" target="_blank" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>

        <div class="wow member co-founder">
            <div class="member-photo" style="background-image: url(/static/images/erayersan.jpeg); background-size:cover; background-position-y: 29%;"></div>
            <div class="member-info">
                <ul>
                    <li>Eray Ersan</li>
                    <li>/</li>
                    <li>Kurucu Ortak</li>
                    <li><a href="https://www.linkedin.com/in/eray-ersan-840048223/" target="_blank" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>

        <div class="wow member founder-member">
            <div class="member-photo" style="background-image: url(/static/images/nazli.jfif); background-size: cover; background-position-y: 20%;"></div>
            <div class="member-info">
                <ul>
                    <li>Nazlı Sarı</li>
                    <li>/</li>
                    <li>Kurucu Üye</li>
                    <li><a href="https://www.linkedin.com/in/nazl%C4%B1-sar%C4%B1-038118200/" target="_blank" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>

        
    </div>
    
</div>
{%endblock %}