{% extends "layout.html"%}

{%block body %}

<section id="texts">
    <div class="skeleton">
        <div class="title">
            <h1 class="text-center">BİLİŞİM VE HUKUKUN ORTAK PAYDASI</h1>
        </div>
        <div class="subtitle">
           <div class="c1"><p class="text-center">ㅤ</p></div>
           <div class="c1"><p class="text-center heading-small">Ius Meta,  </p></div>
           
           <div class="c1"><p class="text-center heading-small">Bilişim ve Hukuk Sektörlerindeki,</p></div>
           <div class="c1"><p class="text-center heading-small">Tüm Argümanların Bir Araya Getirildiği</p></div>
           <div class="c1"><p class="text-center heading-small">Platformdur.</p></div>
           <div class="c1"><p class="text-center heading-small">------------------------------------------------------------------</p></div>
           
           <div class="c1 bottom"><p class="text-center heading-small">Yakın Gelecekte Sizlerle</p></div>
        </div>
    </div>
</section>   


    <section id="container">
        <div class="wow animate__animated animate__fadeInLeft card card-blog">
            <div class="image"><img src="/static/images/tech_brain.jpg" alt=""></div>
            <div class="content">
                <div class="title heading-medium text-center">Bilişim Dünyasında Farkındalık</div>
                <div class="text heading-small text-center">Dünyada ve ülkemizde her geçen gün</div>
                <div class="text heading-small text-center"> etkisini arttıran bilişim dünyasının</div>
                <div class="text heading-small text-center">tüm gelişmelerini size aktarmayı hedefliyoruz.</div>         
            </div>
            <div class="brandLogo">
                <img src="/static/images/logo.png" alt="">        
                
            </div>
        </div>

        <div class="wow animate__animated card card-news">
            <div class="image"><img src="/static/images/city.jpg" alt=""></div>
            <div class="content">
                <div class="title heading-medium text-center">Bilgi Kaynaklarına Kolay Erişim</div>
                <div class="text heading-small text-center">iusmeta.com olarak bilişim alanında</div>
                <div class="text heading-small text-center">yayınlanmış en önemli bilgileri</div>
                <div class="text heading-small text-center">size bir rehber olarak sunmayı hedefliyoruz.</div>
            </div>
            <div class="brandLogo">
                <img src="/static/images/logo.png" alt=""> 
               
            </div>
        </div>

        <div class="wow animate__animated card card-news1">
            <div class="image"></div>
            <div class="content">
                <div class="title heading-medium text-center">Teknolojiye Hukuki Dokunuş</div>
                <div class="text heading-small text-center">Teknolojik gelişmeleri hukuki zeminde</div>
                <div class="text heading-small text-center">temellendirerek anlamlandırıp hem mevzuat hem de içtihat</div>
                <div class="text heading-small text-center">perspektifiyle sizlere ulaştırmayı hedefliyoruz.</div>
            </div>
            <div class="brandLogo">
                <img src="/static/images/logo.png" alt=""> 
               
            </div>
        </div>
        
    </section>

    <div class="title text-center"><h1>ROADMAP 2023</h1></div>
        <div class="timeline">

            <div class="checkpoint">
                <div class="circle"><p class="text-center">1</p></div>
                <div class="wow a text-box">
                    <h1 class="text-center">Birinci Çeyrek</h1>
                    <p class="text-center">Organizasyonumuzun misyonu ve vizyonu belirlenip nasıl bir yol izleneceği kararlaştırıldı.</p>
                    
                    <span class="left-arrow"></span>
                </div>
                
            </div>
            <div class="checkpoint">
                <div class="circle"><p class="text-center">2</p></div>
                <div class="wow b text-box">
                    <h1 class="text-center">İkinci Çeyrek</h1>
                    <p class="text-center">Organizasyonumuza ait sosyal medya hesaplarından paylaşımlar yapılıp kitle büyütmek hedeflendi.</p>
                    
                    <span class="right-arrow"></span>
                </div>
                
            </div>
            <div class="checkpoint">
                <div class="circle"><p class="text-center">3</p></div>
                <div class="wow c text-box">
                    <h1 class="">Üçüncü Çeyrek</h1>
                    <p class="text-center">Organizasyonumuzun websitesini aktif hale getirip hedeflediğimiz alanlardaki güncel gelişmeleri içeriğe dönüştürerek sunmaya başlayacağız.</p>              
                    <span class="left-arrow"></span>
                </div>
                
            </div>
            <div class="checkpoint">
                <div class="circle"><p class="text-center">4</p></div>
                <div class="wow d text-box">
                    <h1 class="text-center">Dördüncü Çeyrek</h1>
                    <p class="text-center">Bilişim ve Hukuku ortak paydada birleştirerek sizleri geleceğe bir adım daha yakınlaştırıyoruz.</p>
                    <span class="right-arrow"></span>
                </div>
                
            </div>


        </div>

        
        <script src="/static/scroll_animation.js"></script>
        <script>
            new WOW().init();
        </script>


{%endblock %}